body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body img {
    width: 35%;
    height: 100%;
}

a {
    position: absolute;
    top: 3%;
    left: 97%;
    transform: scale(3);
}

#right {
    width: 23%;
    padding-top: 2px;
}

a:hover {
    background: red;
    background-color: #eee;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

a:visited {
    text-decoration: none;
}